{% extends 'template.html' %}

{% block title%}
Все вопросы
{% endblock %}

{% block body%}
<div class="container">
    <h1>Список вопросов</h1>
    <div class="block">
        {% for el in all_questions %}
            <div class="info">
                <h2>{{ el.id }}. {{ el.text }}</h2>
                    <a href="/q/{{ el.id }}" class="btn btn-warning">
                        <img src="../static/css/img/img_79951.png" height="30px" style="filter: invert(1); margin-top: 15px;"/>
                    </a>
            </div>  
        {% endfor %}   
    </div>     
</div>    
{% endblock %}