{% extends 'template.html' %}

{% block title%}
Новый ивент
{% endblock %}

{% block body%}
<div class="main">
    <div class="container">
        <h1>Добавить мероприятие</h1>
        <form method="post" id="qr-generation-form">
            <input type="varchar(100)" name="name" id="name" class="form-control" placeholder="Название мероприятия"><br>
            <input type="date" name="date_start" id="date_start" class="form-control" placeholder="Дата начала"><br>
            <input type="date" name="date_end" id="date_end" class="form-control" placeholder="Дата конца"><br>
            <input  name="link" class="form-control" placeholder="Ссылка" id="text" type="text" ><br>

                <!-- <input type="text"
                    name="qr-code-content"
                    id="qr-content"
                    value=""
                    placeholder="Enter QR content"
                    autocomplete="off" />
                <input type="submit"
                    value="Generate QR Code" /> -->

            <input type="submit" class="btn btn-white btn-animate" value="Отправить">
        </form>
    </div>   
</div> 
{% endblock %}